{% extends 'core/base.html' %}

{% block title %}
  {{ lead.name }}
{% endblock title %}

{% block content %}
  <div class='py-6 px-6'>
    <h1 class='mb-4 text-xl'>{{ lead.name }}</h1>
  </div>

  <div class='ml-5 '>

    {% if lead.description %}
      <p class='font-semibold'>Description</p>
      <p class='mb-2'>{{ lead.description }}</p>
    {% endif %}

    <p class='font-semibold'>Priority</p>
    <p class='mb-2'>{{ lead.get_priority_display }}</p>


    <p class='font-semibold'>Status</p>
    <p class='mb-2'>{{ lead.get_status_display }}</p>

    <p class='font-semibold'>Created at</p>
    <p class='mb-2'>{{ lead.created_at }}</p>

    <p class='font-semibold'>modified at</p>
    <p class='mb-6'>{{ lead.modified_at }}</p>

    <div class="space-y-4">
      {% for comment in lead.comments.all %}
        <div class='bg-gray-100 py-6 px-6 rounded-xl'>
          <p class="mb-2"><strong>{{ comment.created_by }}</strong>  @{{comment.created_at}}</p>
          {{ comment.content }}
        </div>
      {% endfor %}

      {% for file in lead.files.all %}
        <div class='bg-gray-100 py-6 px-6 rounded-xl'>
          <p class="mb-2"><strong>{{ file.created_by }}</strong>  @{{file.created_at}}</p>
          <a href="{{file.file.url}}">Download</a>
        </div>
      {% endfor %}
    </div>
    <hr class='my-4'>
    <h2 class='text-xl'>Comments</h2>
    <form action="{% url 'AddCommentView' lead.pk %}" method='post'>
      {% csrf_token %}
      {{form.as_p}}

      <button class='text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800'>Submit</button>

    </form>

    <hr class='my-4'>
    <h2 class='text-xl'>Files</h2>   
    <form action="{% url 'AddFileView' lead.pk %}" method='post' enctype='multipart/form-data'>
      {% csrf_token %}
      {{fileform.as_p}}

      <button class='text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800'>Submit</button>

    </form> 


    <hr>
    <div class='mt-5 flex justify-between'>
      


      <a href="{% url 'leads_list' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Back to leads</a>

      <a href="{% url 'leads_edit' lead.id %}" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">Edit</a>
      
      <a href="{% url 'convert_to_client' lead.id %}" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">Convert to Client</a>


      <a href="{% url 'leads_delete' lead.id %}" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800">Delete</a>


    </div>
  </div>
{% endblock content %}  