{% extends 'base.html' %}
{% load static %}

{% block title %}
🔴Channels
{% endblock title %}


{% block css %}
  <link rel="stylesheet" type="text/css" href={% static 'pvc/style.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'profiles/style.css' %}>
{% endblock css %}

{% block header %}
    {% include "main/navbar.html" %}     
{% endblock header %}

{% block content %}
<div class="ui container-fluid"> 
  <div class="ui grid">
    <div class="ui row">
      <div class="three wide column" >
        {% include 'profiles/sidepanel.html' %}
      </div>

      <div class="thirteen wide column">

        <div id='profile_bannar'>
          {% comment %} <center class='top_ad_container'>
            <script type="text/javascript">
              atOptions = {
              'key' : 'a7c13fc1ce7928500af33f274437ed67',
              'format' : 'iframe',
              'height' : 50,
              'width' : 320,
              'params' : {}
              };
              document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://sluicebigheartedpeevish.com/a7c13fc1ce7928500af33f274437ed67/invoke.js"></scr' + 'ipt>');
          </script>
          </center> {% endcomment %}
        </div>

        <div class="ui grid">
          <div class="ui row">
            <div class="ui ten wide column centered aligned" id='search-items'> 
              <form action="{% url 'profiles:search-user' %}" method="GET"> 
                  {% csrf_token %}
                    <div id='search_bar' class="ui right action left icon input">
                        <i class="search icon"></i>
                        <input type="hidden" name='category' value='Channel'>
                        <input  type="text" name='query' id='search_here' value='{{ request.GET.query }}' placeholder="Search Channel...">
                        <a href="{% url 'profiles:all-cha' %}">
                          <i id='cross' class="fa-solid fa-xmark ui large"></i>
                        </a>
                        <button type='submit' class="ui button">Search</button>
                    </div>
                </form>
            </div>
          </div>

          <div class="ui row">
            <div style="margin-top: 1em">
              {% if search_list %}
                <center><div class="ui green message" style='width:90%; margin-bottom:1em;' id='search_message'>  
                  <b><h3>Found {{search_list|length}} Channels with the name "{{request.GET.query}}"</h3></b>
                </div></center>
                
                <div class="ui four cards" id='profile_list_margins' >
                  {% for obj in  search_list %}
                  
                    <a href="{% url 'profiles:profile-detail-view' obj.user.username %}">
                      <div id='card1' class="card">
                        <div class="ui small image ">
                          <img src="{{obj.picture.url}}">
                        </div>
                        <div class="content"> 
                          <span class="header">
                            {{obj.user.full_name|truncatechars:20}}
                            {% if obj.is_org_verified %}<a data-tooltip="Verified {{obj.type_of_verified_org}}" data-position="bottom center"> <i class="check circle icon" style="color: green;"></i></a>{% endif %}
                          </span>
                          
                          <div class="meta">
                            <a href="{% url 'profiles:profile-detail-view' obj.user.username %}">
                              <span data-tooltip="PVC Channel" data-position="bottom left"><i class="fa-solid fa-at" style="color: red; margin:0px;"></i><span>{{obj.user.username|truncatechars:20}}</a>
                              {% if obj.promote %}
                              <span class="ui red mini label">Promoted</span>
                              {% endif %}
                          </div>
                          
                          <i class="user icon"></i>
                            {{obj.get_followers|length}} Followers
                        </div>

                        {% with profile=obj %}
                          {% include 'main/follow_unfollow.html' %}
                        {% endwith %}
                      </div>
                    </a>
                  {% endfor %}
                </div>
              {% endif %}


            {% if Channel_list %}
            <!-- People to show -->
            <div class="thirteen wide column">
              <center><h1 id='recommendation_heading'>PVC Channels</h1><hr></center>

              <div class="ui grid">
              <div class="ui row"  id='profile_list_margins' style='margin-top:1em;'>
                <div class="ui four cards">
                  {% for obj in  Channel_list %}
                      
                    <a href="{% url 'profiles:profile-detail-view' obj.user.username %}">
                      <div id='card1'class="card">
                        <div class="ui small image ">
                          <img src="{{obj.picture.url}}">
                        </div>
                        <div class="content">
                          <span class="header">
                            {{obj.user.full_name|truncatechars:20}}
                            {% if obj.is_org_verified %}<a data-tooltip="Verified {{obj.type_of_verified_org}}" data-position="bottom center"> <i class="check circle icon" style="color: green;"></i></a>{% endif %}
                          </span>
                          <div class="meta">
                            <a href="{% url 'profiles:profile-detail-view' obj.user.username %}">
                              <span data-tooltip="PVC Channel" data-position="bottom left"><i class="fa-solid fa-at" style="color: red; margin:0px;"></i><span>{{obj.user.username|truncatechars:20}}</a>
                              {% if obj.promote %}
                              <span class="ui red mini label">Promoted</span>
                              {% endif %}
                          </div>
                          <i class="user icon"></i>
                            {{obj.get_followers|length}} Followers
                        </div>

                        {% with profile=obj %}
                          {% include 'main/follow_unfollow.html' %}
                        {% endwith %} 
                      </div>
                    </a>
                  {% endfor %}
                </div>
                {% endif %}
                
              </div>
              </div>
            </div>

            {% if not Channel_list and not search_list%}
                <center><div class="ui green message" style='width:80%'><b>No channel was found with the name "{{ request.GET.query }}"</b></div></center>
            {% endif %}
            </div>
          </div>

          
      
        </div>
        
      </div>
    </div>
  </div>
</div>

{% endblock content %}


{% comment %} 

<div class='ui segment'>
      <div class="ui grid">
        <div class="row">
          <div class="three wide column">
            <img class="ui small circular image" src="{{ obj.picture.url }}">
          </div>
          <div class="thirteen wide column">
            <h3>{{ obj.user.username }}</h3>
            <p>{{ obj.bio }}</p>
            <a href=" {% url 'profiles:profile-detail-view' obj.pk %} ">
              <button class='ui primary button sizebtn mb-5'>See Profile</button>
            </a>
            <br>
          
            {% if obj.user not in rel_receiver and obj.user not in rel_sender%}
            <form action="{% url 'profiles:send-invite' %}" method='POST'>
              {% csrf_token %}
              <input type="hidden" name='profile_pk' value={{obj.pk}}>
                <button type='submit' class='ui positive basic button sizebtn mb-5'><i class='plus square icon'></i>Add to Friends</button>
            </form>
            {% endif %}
            
            {% if obj.user in rel_receiver and request.user not in obj.friends.all %}
              <button class='ui disabled button'>
                <i class='user icon sizebtn mb-5'></i>
                Pending...
              </button>
            {% endif %}

            <!--to remove from firend list-->
            {% if request.user in obj.friends.all %}
            <form action="{% url 'profiles:remove-friend' %}" method='POST'>
              {% csrf_token %}
              <input type="hidden" name='profile_pk' value={{obj.pk}}>
              
              <button class='ui negative basic button'>
                <i class='minus square icon sizebtn mb-5'></i>
                Remove from Friends
              </button>
            </form>
            {% endif %}

          </div>
        </div>
      </div>
    </div>

{% endcomment %}








